<form [formGroup]='calculatorForm' (ngSubmit)="calculatorForm.valid" autocomplete="off">
    <div class="jumbotron">
        <h1>Premium Calculator</h1>       
      </div>
    <h2 class="text centre text-primary"></h2>
    <hr> 
    <div class="form-group">
        <label for="name"><strong>Name</strong></label>
        <input 
            [class.is-invalid]='calculatorForm.get("name")?.errors && calculatorForm.get("name")?.touched'
            type="text" 
            class="form-control" 
            appAlphabetOnlyValidation
            formControlName='name' 
            placeholder="Enter your name">
            <div class="invalid-feedback">Please enter a name</div>
    </div>
   
 
    <div class="form-group">
        <label for="dateOfBirth"><strong>Date of birth</strong></label>
        <input 
        type="text"
        [class.is-invalid]='calculatorForm.get("dateOfBirth")?.errors && calculatorForm.get("dateOfBirth")?.touched'
        class="form-control"
        formControlName='dateOfBirth' 
        placeholder="Select Date of birth"     
        bsDatepicker
        [bsConfig]='bsConfig'
        (ngModelChange)="getAge($event)"
        >
    
        <div class="invalid-feedback">Please enter a Date of Birth</div>
    </div>
 <div *ngIf="this.calculatorForm.get('age')?.value != null" class="form-group">
        <label for="age"><strong>Age</strong></label>
        <input 
            [class.is-invalid]='calculatorForm.get("age")?.errors && calculatorForm.get("age")?.touched'
            type="text" 
            [readOnly]="true"
            appNumberOnlyValidator
            class="form-control" 
            formControlName='age' 
            placeholder="Enter your age">
            <div class="invalid-feedback">Please enter a age</div>
    </div>
    
    <div class="form-group">
        <label for="deathSumInsured"><strong>Sum insured</strong></label>
        <input 
            [class.is-invalid]='calculatorForm.get("deathSumInsured")?.errors && calculatorForm.get("deathSumInsured")?.touched'
            type="text"            
            class="form-control" 
            appNumberOnlyValidator
            formControlName='deathSumInsured' 
            placeholder="Enter sum insured">
            <div class="invalid-feedback">Please enter a Sum Insured</div>
    </div>
      
    <div class="form-group">
        <label for="occupation"><strong>Occupation</strong></label>
        <select 
            [class.is-invalid]='calculatorForm.get("occupation")?.errors && calculatorForm.get("occupation")?.touched'
            (change)="calculatePremium()"
            type="text" 
            class="form-control" 
            formControlName='occupation' 
           >
            <option value="" disabled>Select occupation</option>
            <option *ngFor="let city of occupationList" [ngValue]="city">{{city}}</option>
        </select>
            <div class="invalid-feedback">Please select occupation</div>
    </div>
 
    <alert *ngIf="calculatedPremium>0" type="info">
        <h1>Total monthly premium is ${{calculatedPremium | number : '1.2' }}</h1>
      </alert> 
      <div class="form-group text-centre">        
        <button class="btn btn-primary btn-lg mr-2" (click)="reset()" type="button">Reset</button>
    </div>

   
</form>
